.noTitle, .showTitle, .slideRight, .slideTop,.corner{ 
	position: relative; 
	width: 320px; 
	height: 225px; 
	margin: 10px; 
	float: left; 
	border: 2px solid #8399AF; 
	background: #161613; 
	overflow: hidden; 
}

.noTitle img, .showTitle img, .slideRight img, .slideTop img,.corner img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0;
	width: 100%;
}

/*图片列表标题特效*/
.caption{
	position: absolute;  	
	height: 100px; 
	width: 100%; 
	background: #000; 
	opacity: 0.8; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.caption .title{
	font-size: 14px;
	font-weight: bold;
	padding: 4px 5px 4px 10px;
	color: white;
}
.caption .content{
	font-size: 12px;
	padding: 4px 5px 0 10px;
	color: white;
}

.noTitle .caption, .showTitle .caption{
	top: 260px;
	left: 0px;
	/*height: auto;*/
}
.slideRight .caption, .slideTop .caption, .corner .caption{
	z-index: 1;
	height: 100%;
}
.slideRight img, .slideTop img, .corner img{
	z-index: 2;
}